@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --color-text-base: 0, 0, 0;
    --color-text-muted: 107, 129, 137;
    --color-background-base: 231, 239, 244;
    --color-background-foreground: 254, 254, 254;
    --color-primary: 68, 177, 255;
  }
  [data-theme="dark"] {
    --color-text-base: 255, 255, 255;
    --color-text-muted: 141, 156, 168;
    --color-background-base: 36, 39, 41;
    --color-background-foreground: 25, 28, 29;
    --color-primary: 68, 177, 255;
  }
}
:root,
body,
html {
  height: 100%;
  @apply text-base bg-base;
}
